/blog/category/*
!/blog/category/tag-template.html
/blog/*.html
!/blog/template.html
!/blog/index-template.html
/blog/compiled/*
/blog/pollen-cache
/pollen-cache
/style.css
/blog/index.ptree

style.css

pollen.cache
